CONFIG_PSI=y
# CONFIG_PSI_DEFAULT_DISABLED is not set

CONFIG_PAGE_COUNTER=y
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
CONFIG_MEMCG_SWAP_ENABLED=y
CONFIG_MEMCG_FORCE_USE_VM_SWAPPINESS=y
CONFIG_MEMCG_KMEM=y
# CONFIG_SLUB_MEMCG_SYSFS_ON is not set